.sa-sidebar-error {
  color: var(--sa-neutral-color-5);

  h1 {
    @include typographyMediumL;
  }

  .sidebar-error-view-image-wrapper {
    height: 318px;
    text-align: center;
    background: var(--sa-neutral-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    .sidebar-error-view-image {
      img {
        margin-bottom: 16px;
        vertical-align: top;
      }

      h3 {
        @include typographyMediumXs;
        color: var(--sa-error-color-1);
        text-align: center;
      }
    }
  }

  .sidebar-error-paper-input {
    margin-top: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;

    .sidebar-error-input-header {
      margin-bottom: 16px;

      h3 {
        @include typographyMediumS;
        text-align: left;
      }
    }

    .sidebar-error-input-section {
      margin-bottom: 8px;

      .sidebar-error-buttons {
        display: flex;
        text-align: center;
        margin-bottom: 16px;
        justify-content: center;
        .sidebar-submit-button {
          margin-right: 16px;
        }
      }
    }
  }
}
