.sa-title-close {
  .title-and-close-button {
    display: flex;
    justify-content: space-between;
  }

  .modal-title {
    @include typographyMediumM;
    color: var(--sa-upload-modal-title-text-color);
  }

  .modal-close-button {
    cursor: pointer;

    width: 24px;
    height: 24px;
  }
}
