.sa-header {
  background-color: var(--sa-header-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 128px;
  padding-right: 128px;

  .header-wrapper {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      .brand {
        text-decoration: none;
        display: flex;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
        }

        .brand-name {
          @include typographyBoldXl;
          color: var(--sa-neutral-color-5);
          padding-left: 16px;
        }
      }
    }

    .navigation {
      a,
      a:focus,
      a:active {
        @include typographyMediumS;
        color: var(--sa-neutral-color-5);
        text-decoration: none;
      }

      a:hover:not(:active) {
        text-decoration: underline;
      }
    }
  }
}
