.sa-header {
  background-color: var(--sa-header-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 15px;
    flex-direction: row;
    text-align: center;
    align-items: center;

    .logo {
      padding: 5px 5px 5px 5px;
      margin-left: 3%;
      .brand {
        text-decoration: none;
        display: flex;

        img {
          width: 35px;
          height: auto;
        }

        .brand-name {
          display: flex;
          color: #000;
          @include typographyMediumL;
          padding-left: 5%;
        }
      }
    }

    .nav-wrapper {
      margin-right: 5%;

      .navigation,
      .navigation a,
      .navigation a:hover,
      .navigation a:focus {
        color: #000;
        padding: 5px 10px;
        text-decoration: none;
        @include typographyMediumS;
      }
    }
  }
}
