.sa-header {
  background-color: var(--sa-header-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 64px;
  padding-left: 128px;
  padding-right: 128px;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    .logo {
      position: relative;
      top: 13px;

      .brand {
        text-decoration: none;
        display: flex;
        img {
          width: 32px;
          height: auto;
        }

        .brand-name {
          color: var(--sa-neutral-color-5);
          @include typographyBoldXl;
          padding-left: 16px;
        }
      }
    }

    .navigation {
      position: relative;
      top: 23px;

      a,
      a:hover,
      a:focus {
        color: var(--sa-neutral-color-5);
        @include typographyMediumS;
        text-decoration: none;
      }
    }
  }
}
