.sa-input-text {
  &.modal-link-section {
    @include typographyRegularXs;
    background-color: var(--sa-upload-modal-linlk-section);
    width: 320px;
    height: 33px;
    border: 0px;
    border-radius: 4px;
    margin: 16px auto 0px auto;
    padding-left: 8px;

    color: var(--sa-neutral-color-5);

    &::placeholder {
      color: var(--sa-neutral-color-3);
    }
  }

  &.sidebar-error-input-text {
    @include typographyRegularXs;
    margin-bottom: 16px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    border: 0px;
    border-radius: 4px;
    color: var(--sa-neutral-color-5);

    &::placeholder {
      color: var(--sa-neutral-color-3);
    }
  }
}
