.sa-test-tool {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);

  .data {
    line-height: 50px;
    padding: 0px 16px;
    animation: rot 3s infinite;

    @keyframes rot {
      0% {
        transform: rotate(0deg);
        background-color: #0f0;
      }

      50% {
        transform: rotate(180deg);
        background-color: rgb(0, 183, 255);
      }

      100% {
        transform: rotate(360deg);
        background-color: #0f0;
      }
    }
  }
}
