.sa-pdf-viewer {
  width: 100px;
  height: 100px;

  background-color: var(--sa-pdf-viewer-background-color);
    color: var(--sa-pdf-viewer-text-color);

  border-radius: 50px;
  display: flex;

  align-items: center;
  justify-content: center;

  @include typographyMediumS;
}
